@charset "utf-8";
/* CSS Document */
*{margin:0px;}
/*最外面的盒子*/
ul li{
	list-style-type:none;
	}
.father{
	width:100%px;
	height:auto;
	padding:0px;
	}
/*第一行大盒子*/
.father .box_1{
	width:1000px;
	height:110px;
	margin:0px auto;
	padding:0px;
	}
/*第一行大盒子的小盒子*/
.father .box_1_1{
	width:205px;
	height:70px;
	margin-top:25px;
	float:left;
	}
/*第一行大盒子的小盒子的小盒子*/
.father .box1_1 a{
	wither:203px;
	}
/*第一行大盒子的小盒子2*/
.father .box_1_2{
	width:785px;
	height:100px;
	float:right;
	}
/*第一行大盒子的小盒子2的p标签*/
.father .box_1_2 .box_1_2_1{
	width:785px;
	height:30px;
	}
/*第一行大盒子的小盒子2的p标签*/
.father .box_1_2 .box_1_2_1 a{
	text-decoration:none;
	margin-left:4px;
	position:relative;
	left:68%;
	font-size:12px;
	}
/*第一行大盒子的小盒子2的ul标签*/
.father .box_1 .box_1_2_2{
	width:519px;
	height:61px;
	margin-left:20px;
	padding:0px;
	padding-let:1px;
	padding-top:1px;
	}
/*第一行大盒子的小盒子2的p标签*/
.father #a1{
	width:519px;
	height:25px;
	margin-top:5px;
	padding-bottom:5px;
	color:#0066AE;
	}
/*第一行大盒子的小盒子2的p标签里的a标签*/
a{
	text-decoration:none;
	}
/*第一行大盒子的小盒子2的form标签*/
#form1{
	width:497px;
	height:36px;
	border:#D1DBE7 1px solid;
	padding-left:20px;
	margin-left:0px;
	}
/*第一行大盒子的小盒子2的input标签*/
#input1{
	width:390px;
	height:25px;
	border:#D1DBE7 1px; solid;	
	padding:1px;
	margin:5px;
	float:left;
	}
/*第一行大盒子的小盒子2的input标签*/
#input2{
	width:95px;
	height:36px;
	padding:0px;
	margin:0px;
	}
/*第二行大盒子*/
.father .box_2{
	width:100%px;
	height:380x;
	background-color:#3C94ED;
	}
/*第二行大盒子的小盒子*/
.father .box_2_1{
	width:1000px;
	height:38px;
	margin:0px auto;
	padding:0px;
	background-color:#3C94ED;
	}
/*第二行大盒子小盒子的ul标签*/
.box_2_1 ul{
	width:1000px;
	height:38px;
	margin:0px auto;
	padding:0px;
	text-decoration:none;
	background:url(%E7%B4%A0%E6%9D%90/mubg.jpg)100% 100% no-repeat;
	}
/*第二行大盒子小盒子的ul标签的li标签*/
.father .box_2_1 ul li{
	float:left;
	padding:0px 10px;
	width:auto;
	line-height:37.5px;
	background:url(%E7%B4%A0%E6%9D%90/mujg.jpg)0% 50% no-repeat;
	}
/*第二行大盒子小盒子的ul标签的li标签的a标签*/
.father .box_2_1 ul li a{
	color:#FFF;
	font-size:14px;
	}
/*第二行大盒子小盒子的ul标签的li标签的a标签*/
.father .box_2_1 ul li a:hover{
	color:#000;
	}
/*第二行大盒子小盒子的ul标签的li标签*/
.father .box_2_1 ul .back{
	background:url(%E7%B4%A0%E6%9D%90/mubg.jpg)0% 100% no-repeat;
	}
#father1{
	width:1000px;
	height:auto;
	margin:0px auto;
	}
/*第三行大盒子*/
.box_3{
	width:1000px;
	height:auto;
	margin:5px auto;
	}
#box_3_1{
    border:1px solid #BFE4FF;
    background-color:#F7F7FF;
	font-size:12px;
    line-height:25px;
    padding:0 10px;
	margin-top:13px;
	}
.box_3_2{
    font-size:14px;
    text-align:right;
    line-height:32px;
    color:#106492;
}
#box_3_3{
	padding:0px;
	}
#box_3_3_1{
    height:170px;
    display:block;
    padding-top:10px;
	background-image:url(%E7%B4%A0%E6%9D%90/%E9%93%B6%E6%B2%B3%E6%8A%A4%E5%8D%AB%E9%98%9F/line.gif);
	background-repeat:repeat-x;
	background-position:0 bottom;
}
#box_3_3_1 p{
    display:block;
	float:right;
	width:860px;
	line-height:20px;
	margin:0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	}
#box_3_3_1 p strong{
	font-size: 14px;
    line-height: 45px;
	}
#box_3_3_1 p span{
	font-size:9pt;
	}
.box_3_2 {
    font-size:14px;
    text-align:right;
    line-height:32px;
    color: #106492;
}
#div1{
	width:1000px;
	border-top: 3px #2C6DD5 solid;
	}
#div2{
	background-image: url(../images/bbg.jpg);
	background-repeat: repeat-x;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #666;
	line-height:20px;
	font-size:12px;
	}
#div2 a{
	color: #666;
	}/* CSS Document */

/* CSS Document */

